<mat-sidenav-container class="sidebar" *ngIf="(history$ | async)?.length; else elseBlock">
  <mat-sidenav mode="side" class="scroll" position="end" autosize [opened]="sidebar$ | async">
    <mat-selection-list #history [multiple]="false" (selectionChange)="onSelectionChange($event)">
      <mat-list-option *ngFor="let query of (history$ | async); let i = index" [value]="query">
        {{ i + 1 }}. query
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-repository-list
      *ngIf="response$ | async; else noSelection"
      [response]="response$ | async"
      [currentPage]="(currentPage$ | async) ?? 0"
      (paginate)="onPagination($event)"
      (changeOrder)="onOrderChanged($event)"
      (changeSort)="onSortChanged($event)">
    </app-repository-list>
    <ng-template #noSelection>
      <mat-card class="container text-center">
        <h1>No query has been selected!</h1>
        <h4>Select a query first.</h4>
      </mat-card>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #elseBlock>
  <mat-card class="container text-center">
    <h1>No query has been made!</h1>
    <h4>Navigate to the query page.</h4>
    <a mat-raised-button color="primary" routerLink="query">Query Page</a>
  </mat-card>
</ng-template>

