.toolbar {
  position: sticky;
  height: 50px;
}

.content {
  position: absolute;
  top: 55px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.active {
  background: rgb(50, 65, 145);
}

.hover:hover {
  background-color: rgb(39, 50, 113);
  color: white;
}

img {
  margin-right: 0.7rem;
  height: 2rem;
}
