.container {
  margin-top: 1rem;
}

.avatar {
  margin-right: 0.7rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar__image {
  width: 100%;
}

.mat-action-row {
  justify-content: flex-start;
}

.aligned-with-icon {
  position: absolute;
  margin-top: 3px;
  margin-left: 5px;
}

mat-card {
  margin-bottom: 1rem;
}

mat-radio-button {
  margin-right: 1rem;
  margin-left: 1rem;
}

mat-paginator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}
